# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle/
local.properties
*.iml
*.hprof
.cxx/

# Gradle wrapper - keep jar file tracked
!gradle/wrapper/gradle-wrapper.jar

# Bundle artifacts
*.jsbundle
